@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*accent color for later: #8B8BAE*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 8vh;
    color: #374B4A;
    padding: 1vw;
}

#counter {
    padding: 1vw;
    font-size: 4vh;
    color: #526760;
}

#container {
    background: 100% 100%;
    background-color: #88D9E6;
}

#cookie {
    width: 24vw;
    background-color: #C5FFFD;
    border-radius: 4vh;
    padding: 1vw;
    margin: 1vw;
}

#cookie:active{
    width: 18vw;
    padding: 4vw;
}

#sell-btn {
    text-align: center;
    background-color: #297921;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    border: solid 4px #54b54b;
    box-shadow: 0 0 2px black;
    padding: 0.2vw;
    margin: 1vw;
}

#sell-btn:active {
    box-shadow: 0 0 6px black;
}